{% extends "grading/base.html" %}

{% block title %}Assignments | Sage Classroom{% endblock %}

{% block body %}
  <div>
    <h1 >Your Assignments</h1>
    <ul>
      {% if work %}
        {% for w in work %}
          <li><a href="{% url 'a' w.code %}">{{ w }}</a></li>
        {% endfor %}
      {% else %}
        <li>You have zero assignments</li>
      {% endif%}
    </ul>
  </div>
  {% if is_student %}
    <div>
      <h1>Sign UP for an assignment</h1>
      <p>Enter 6 digit ALPHANUMERIC assignment code</p>
      <form action="{% url 'assignments' %}" method="post">
        {% csrf_token %}
        <input type="text" name="code" placeholder="Enter Code">
        <button action="submit" class="btn btn-outline-dark">Submit</button>
      </form>
      {% if demo_assignment_code %}
        <p style="color:cyan;background-color:black;">Try this demo assignment code that won't(might) get graded by anyone(the God himself) <strong style="font-size:28px;">:{{ demo_assignment_code }}</strong>. Ask a teacher to share the code with you to see asses here!! </p>
      {% endif %}
    </div>
  {% elif is_teacher %}
    <div>
      <h1>Make A New Assignment</h1>
      <form action="{% url 'assignments' %}" method="post">
        {% csrf_token %}
        <input required type="text" name="title" placeholder="Enter Title">
        <textarea required name="description" rows="8" cols="80" placeholder="Describe Your Assignment"></textarea>
        <p style="color:GOLDENROD;">The Code for this task will be generated for you</p>
        <button type="submit" class="btn btn-outline-primary">Create</button>
      </form>
    </div>
  {% endif %}


{% endblock %}
