{% extends "grading/base.html" %}

{% block title %}Assignments | Sage Classroom{% endblock %}

{% block body %}
  <div>
    <h1 >Your Assignments</h1>
    <ul>
      {% if work %}
        {% for w in work %}
          <li><a href="{% url 'a' w.code %}">{{ w }}</a></li>
        {% endfor %}
      {% else %}
        <li>You have zero assignments</li>
      {% endif%}
    </ul>
  </div>
  {% if is_student %}
    <div>
      <h1>Sign UP for an assignment</h1>
      <p>Enter 6 digit ALPHANUMERIC assignment code</p>
      <form action="{% url 'assignments' %}" method="post">
        {% csrf_token %}
        <input type="text" name="code" placeholder="Enter Code">
        <button action="submit" class="btn btn-outline-dark">Submit</button>
      </form>
    </div>
  {% elif is_teacher %}
    <div style="padding-top:70vh;">
      <h1>Make A New Assignment</h1>
      <p>// TODO</p>
    </div>
  {% endif %}


{% endblock %}
