{% extends "grading/base.html" %}

{% block title %}
  Sage Classroom
{% endblock %}

{% block body %}
  <div class="main_index">
    <h1 class="super-text">$ag3x's Cl@ssro0m</h1>
    <hr>
    <h4 style="color:white">World's best platform/SaaS service for mentoring upcoming enterprenurial talent.</h4>
    <div class="service-buttons">
      <button name="butt" class="btn-lg btn service-button btn-outline-light" onclick="info_toggle(this, 'S')">Students</button>
      <button class="btn btn-lg service-button btn-light" onclick="info_toggle(this, 'T')" name="butt">Teachers</button>
    </div>
    <div class="bar"></div>
    <div class="service_info">
      <p id="service_info_text">Teacher : dsa;oidsjf;asdjfia;dsifjsald</p>
    </div>
  </div>
{% endblock %}
