{% extends "grading/base.html" %}
{% block title %} Register as {{ type }}{% endblock %}
{% block body %}
  <h1>Sign Up as a {{ type }}</h1>
  {% if message %}
    <p style="color:red;font-size:32px;">Don't<strong> Misbehave</strong> !!!!</p>
  {% endif %}
  <form class="" action="{% url 'register' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="type" value="{{ type }}">
    <button action="submit" class="btn btn-outline-dark">Submit</button>
  </form>
{% endblock %}
